{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}


    <form action="/register" method="post" id="myForm">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" id="password" placeholder="Enter a password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Re-enter the password" type="password">
        </div>
        <button class="btn btn-primary" id="button" type="submit">Register</button>
    </form>


    <script>
    var username=document.getElementById('username').value

    document.getElementById("myForm").addEventListener("submit", function(event){
        event.preventDefault()

    $.get("/check", {username: username}, function(data) {
                if(data == false) {
                        alert("Username taken.");
                        console.log("hey")
                    }
                    else {
                        $('#myForm').submit();
                    }
        });
    });

    </script>
{% endblock %}
